:root, body, #root {
  height: 100%;
  margin: 0;
  font-family: 'Roboto';
}

pre {
  font-family: 'Roboto';
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
